.login_container_active{
    height: 100vh;
}

.login_container_not_active{
    height: 0vh;
}

.login {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    height: 100%;
}