.finance-container {
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    height: 97vh;
}

.finance-panel {
    border: 1px solid black;
    height: 300px;
    width: 300px;
}

.finance-group-picker-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.finance-subcomeponent-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.finance-history-panel {
    border: 1px solid black;
    max-height: 500px;
    width: 800px;
    overflow-y: auto;
}

.finance-histroy-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.record-date-column{
    width: 90px;
    margin-left: 30px;
    text-align: center;
}

.finance-group-column{
    width: 140px;
    text-align: center;
}

.amount-column{
    width: 70px;
    text-align: center;
}

.reason-column{
    width: 200px;
    text-align: center;
}

.save-date-column{
    width: 120px;
    text-align: center;
}

.edit-icon {
    width: 22px;
    cursor: pointer;
}