.finance-container {
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    height: 97vh;
}

.finance-panel {
    border: 1px solid black;
    height: 300px;
    width: 300px;
}

.income-expense-panel {
    display: flex;  
    align-items: center;
    justify-content: center;
    height: 40px;
}

.finance-group-picker-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.finance-subcomeponent-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.finance-history-panel {
    border: 1px solid black;
    max-height: 500px;
    width: 800px;
    overflow-y: auto;
}

.finance-histroy-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}