.modal {
    position: fixed; /* Stay in place */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFDFDF; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.03); /* Black w/ opacity */
}

.spinner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    z-index: 2;
}

.spinner-sector {
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 15px solid transparent;
    mix-blend-mode: overlay;
    z-index: 2;
}

.spinner-text {
    animation: loading-opacity 3s ease-in-out infinite;
    font-size: 4em;
    visibility: hidden;
}

.spinner-sector-blue {
    animation: rotate 2s ease-out infinite;
    border-top: 15px solid lightblue;
}

.spinner-sector-red {
    animation: rotate 2.5s ease-in infinite;
    border-top: 15px solid lightcoral;
}

.spinner-sector-green {
    animation: rotate 1.5s ease-in-out infinite;
    border-top: 15px solid lightgreen;
}

@keyframes rotate {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}

@keyframes loading-opacity {
    0%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: .5;
    }
    50% {
        opacity: .1;
    }
}

.blurr{
    opacity: 0.3;
}

.okResponse {
    display: flex;
    position: absolute;
    height: 100px;
    width: 200px;
    margin: -50px 0 0 -100px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    background-color: #4CBB17;
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
}

.errorResponse {
    display: flex;
    position: absolute;
    height: 100px;
    width: 200px;
    margin: -50px 0 0 -100px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    background-color: rgb(241, 8, 8);
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
}

.inner-text {
    margin: auto;
    text-align: center;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }
  
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }